.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
}

.advantages__item {
  @media (min-width: 768px) {
    min-height: 330px;
  }
}

.advantages__title {
  font-size: 21px;
  line-height: 15px;
  font-weight: bold;
}
