.form__group-name {
  font-weight: bold;
}

.form__field {
  background-color: @grey;
  border: none;
  outline: none;

  font-size: 18px;
  text-transform: none;
  font-weight: bold;
}

.form__label-radio {
  text-transform: none;
  font-weight: bold;
}

.form__label-checkbox {
  text-transform: none;
  font-weight: bold;
}
