.form {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__group {
  border: none;
  border-bottom: 1px solid @gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 6px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 0;
    border-bottom: none;
  }
}

.form__group-name {
  position: relative;
  box-sizing: border-box;
  padding-top: 0;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  top: 20px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  &--bordered {
    &::before {
      @media (max-width: @mobile-width-only) {
        display: none;
      }

      content: "";
      position: absolute;
      left: 0;
      top: 40%;
      width: 19%;
      height: 1px;
      background-color: @line-color;

      @media (min-width: @desktop-width) {
        width: 280px;
      }
    }

    &::after {
      @media (max-width: @mobile-width-only) {
        display: none;
      }

      content: "";
      position: absolute;
      right: 0;
      top: 40%;
      width: 19%;
      height: 1px;
      background-color: @line-color;

      @media (min-width: @desktop-width) {
        width: 280px;
      }
    }
  }
}

.form__field {
  background-color: @lightgray;
  border: none;
  outline: none;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  color: @black;
  text-transform: none;
  font-weight: bold;

  box-sizing: border-box;
  height: 58px;
  width: 100%;
  padding-left: 22px;
  padding-top: 5px;

  &:hover {
    background-color: @gray;
  }

  &:focus {
    box-sizing: border-box;
    outline: 4px solid @gray;
    outline-offset: -4px;
    background-color: @white;
  }
}

.form__label {
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: baseline;
}

.form__label-radio {
  text-transform: none;
  font-weight: bold;
  padding-left: 77px;
  padding-top: 19px;
  padding-bottom: 24px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 33px;
    padding-left: 76px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 2px;
    width: 56px;
    height: 56px;
    background-color: @lightgray;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      background-color: @gray;
    }
  }

  &:active {
    &::before {
      background-color: @input-active-bkg-color;
    }
  }
}

.form__input-radio:checked + .form__label-radio::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 19px;
  width: 21px;
  height: 21px;
  background-color: @darkgrey;
  border-radius: 50%;
}

.form__input-radio:checked:active + .form__label-radio::after {
  opacity: 0.3;
}

.form__label-checkbox {
  text-transform: none;
  font-weight: bold;
  padding-left: 79px;
  padding-top: 17px;
  padding-bottom: 37px;
  position: relative;

  @media (min-width: @desktop-width) {
    padding-left: 82px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 56px;
    height: 56px;
    background-color: @lightgray;
    border-radius: 10%;
  }

  &:hover {
    &::before {
      background-color: @gray;
    }
  }

  &:active {
    &::before {
      background-color: @input-active-bkg-color;
    }
  }
}

.form__input-checkbox:checked + .form__label-checkbox::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 20px;
  width: 18px;
  height: 10px;
  border-bottom: 3px solid @black;
  border-left: 3px solid @black;
  transform: rotate(-45deg);
}

.form__input-checkbox:checked:active + .form__label-checkbox::after {
  opacity: 0.3;
}

.form__textarea {
  min-height: 160px;
  padding-top: 13px;
  padding-left: 21px;
  padding-right: 21px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 17px;
  }
}

.form__field-wrapper {
  position: relative;

  &--tel {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 58px;
      height: 58px;
      background-color: @form-field-icon-bkg-color;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/phone.svg");
    }
  }

  &--email {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 58px;
      height: 58px;
      background-color: @form-field-icon-bkg-color;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/mail.svg");
    }
  }
}
