@import "../global/variables.less";

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery__item {
  background-color: @lightgrey;

  @media (min-width: 768px) {
    width: 50%;

    &--wide {
      width: 100%;
    }
  }

  @media (min-width: 1200px) {
    width: 400px;

    &--wide {
      width: 100%;
    }
  }
}


.gallery__image-info {
  font-size: 14px;
  line-height: 24px;
}

.gallery__image-title {
  font-weight: bold;
}

.gallery__image-author {
  text-transform: none;
}

.gallery__image-likes {
  font-weight: bold;
}
