.gallery__image-info {
  font-size: 14px;
  line-height: 24px;
}

.gallery__image-title {
  font-weight: bold;
}

.gallery__image-author {
  text-transform: none;
}

.gallery__image-likes {
  font-weight: bold;
}
