@import "../global/variables.less";

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.main-nav__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: @white;
  text-decoration: none;
  display: block;
  background-color: @nav-link-bkg-color;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  padding-top: 18px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 26px;
    background-color: @nav-link-tb-bkg-color;
    color: @black;
    box-shadow: none;
    padding-top: 15px;
    padding-bottom: 15px;

    &:hover {
      color: @blue;
    }

    &:active {
      color: @black;
      opacity: 0.3;
    }
  }
}

.main-nav__link--active {
  color: @nav-link-active-color;

  &:hover {
    color: @nav-link-active-hover-color;
  }

  &:active {
    color: @nav-link-active-color;
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;

  &:hover {
    outline: none;
  }

  &:active {
    outline: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: @nav-toggle-closed-color;
  box-shadow: 0 9px 0 0 @nav-toggle-closed-color, 0 18px 0 0 @nav-toggle-closed-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 17px;
    width: 27px;
    height: 4px;
    background-color: @white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__item {
  @media (min-width: @tablet-width) {
    width: 20%;
    text-align: center;

    &:nth-child(4n+2) {
      margin-right: 10%;
    }

    &:nth-child(4n+3) {
      margin-left: 10%;
    }
  }
}
