.page-header {
  position: relative;
  background-color: @white;
}

.page-header__top {
  min-height: 56px;
}

.page-header__logo {
  display: block;
  width: 102px;
  height: 56px;

  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    width: 102px;
    margin-left: -51px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 188px;
    margin-left: -94px;
  }
}

.page-header__logo-img {
  @media (max-width: @mobile-width-only) {
    z-index: 2;
    position: absolute;
    left: 50%;
    margin-left: -51px;
  }

  @media (min-width: @desktop-width) {
    width: 187px;
    height: 97px;
  }
}
