@import "../global/variables.less";

.reasons__preview {
  position: relative;

  @media (max-width: @mobile-width) {
    &::after {
      content: "";
      width: 100%;
      height: 14px;
      background-image: url("../img/blue-slice.svg");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
