@lightblue: #b3c7d4;
@blue: #81B3D2;
@black: #000000;
@white: #FFFFFF;
@brown: #766357;
@lightgrey: #EEEEEE;
@grey: #F2F2F2;
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@mobile-width: 320px;
